.TopNav {
    background-color: #1d1d1f;
    padding:10px 0;
	margin-bottom:0;
    overflow:hidden;
}

.icons_menu {
    margin: 0 !important;
    list-style: none;
    padding: 0 !important;
}

.icons_menu li {
    list-style-type:none;
	float:left;
	padding:0;
    margin:0;
    padding-left: 20px;
}

.icons_menu li > a {
   font-size: 20px;
   padding-top: 5px;
   color: #a3a3ac;
   cursor: pointer;
}

.icon:hover {
    color: white !important;
}

input {
    background: #2d2d32 !important;
    color: #fff !important;
    border: none !important;
}

input:hover {
    border: none !important;
}

.ant-input-search-icon {
    color: white !important;
}

.ant-popover-inner-content {
    color: white !important;
    background-color: #1d1d1f !important;
    border: none !important;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow, .ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
    top: 6px;
    border-top-color: grey !important;
    border-right-color: #1d1d1f !important;
    border-bottom-color: #1d1d1f !important;
    border-left-color: grey !important;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
}